@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    filter: brightness(190%);
    background-position: center center;
    background-size: (100vw, 1200px);
    background-repeat: no-repeat;
    height: 88vh;
    position: relative;

}

.box {
    position: absolute;
    top: 0px;
    height: 88vh;
    width: 100%;
    opacity: 0.85;
    background-color: black;

}

nav {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
    position: relative;

}

nav img {
    height: 45px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'roboto';
    height: calc(100% - 100px);
    gap: 10px;
    display: flex;

    color: white;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 30px;
}

.A {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.B {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.C {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

input {
    width: 24vw;
    height: 40px;
    background-color: rgb(16, 14, 14);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 6px;
    margin:  70px 20px;
    padding: 6px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    
}
input {
    padding: 11px 101px 11px 14px;
    color: white;
    font-size: 21px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}


.but3 {


    padding: 12px 39px;
    border: 2px solid rgb(249, 237, 237);
    border-radius: 6px;
    background-color: rgb(113, 4, 4);
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 8px;
    cursor: pointer;

}

.but1 {

    padding: 1px 6px;
    border: 1px solid rgb(247, 241, 241);
    border-radius: 4px;
    background-color: rgb(113, 4, 4);
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-left: 9px;
}

.separation {
    height: 7px;
    background-color: rgb(44, 46, 44);
    position: relative;
    z-index: 20;
}

.but2 {
    padding: 1px 10px;
    border: 1px solid rgb(247, 241, 241);
    border-radius: 4px;
    background-color: rgb(43, 40, 40, 0.4);
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-left: 9px;
}

h2 {
    color: white;
    margin-top: 15px;
    margin-left: 10vw;
}

.select {
    display: flex;
    margin-left: 9.5vw;
    margin-top: 5px;
}

.select1 {
    color: rgb(240, 240, 240);
    border: 1px solid rgb(247, 241, 241);
    background-color: rgb(43, 40, 40, 0.4);
    border-radius: 4px;
    padding: 6px 8px;
    margin: 5px;
    margin-right: 19px;
}

.select2 {
    color: rgb(253, 240, 240);
    border: 1px solid rgb(247, 241, 241);
    background-color: rgb(43, 40, 40, 0.4);
    border-radius: 4px;
    padding: 6px 8px;
    margin: 5px;
}

.option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 50px;

}

.bux {
    height: 39vh;
    width: 15vw;

    border: 1px solid black;
    border-radius: 9px;
    background-color: bisque;

}

@media only screen and (max-width: 1000px) {

    .option {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr

    }
    .bux{
        height: 39vh;
        width: 14vw;
    }
}

@media only screen and (max-width: 600px) {

    .option {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .bux{
        height: 39vh;
        width: 14vw;
        gap: auto;
    }
    

}
@media only screen and (max-width: 800px) {
    A {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }
    
    .B {
        font-size: 10px;
        font-weight: 500;
        text-align: center;
    }
    
    .C {
        font-size: 8px;
        font-weight: 400;
        text-align: center;
    }
    

}


.box1 {
    background-image: url("assets/images/image 1.png");
    background-size: cover;
    z-index: 4;
}

.box2 {
    background-image: url("assets/images/image 2.png");
    background-size: cover;
    z-index: 4;
}

.box3 {
    background-image: url("assets/images/image3.png");
    background-size: cover;
    z-index: 4;
}

.box4 {
    background-image: url("assets/images/image4.png");
    background-size: cover;
    z-index: 4;
}

.box5 {
    background-image: url("assets/images/image5.png");
    background-size: cover;
    z-index: 4;
}

@media only screen and (max-width: 900px) {



    .first {
        flex-wrap: wrap;
    }
}

.first {
    display: flex;

    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;


    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

/* -------------------- RESPONSIVE -------------------- */
@media (max-width: 900px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .hero .A {
        font-size: 2.4rem;
    }

    .hero div {
        flex-direction: column;
        width: 100%;
    }

    .hero input {
        width: 100%;
    }

    .secImg img {
        width: 100%;
    }

    .secImg video {
        width: 70%;
        left: 15%;
        top: 20%;
    }
}

.box1 {
    background-image: url("assets/images/image 1.png");
    background-size: cover;
    z-index: 4;
}

.box2 {
    background-image: url("assets/images/image 2.png");
    background-size: cover;
    z-index: 4;
}

.box3 {
    background-image: url("assets/images/image3.png");
    background-size: cover;
    z-index: 4;
}

.box4 {
    background-image: url("assets/images/image4.png");
    background-size: cover;
    z-index: 4;
}

.box5 {
    background-image: url("assets/images/image5.png");
    background-size: cover;
    z-index: 4;
}

@media (max-width: 768px) {

    nav {
        padding: 15px 5%;
    }

    nav img {
        width: 110px;
    }

    .hero {
        padding: 0 5%;
    }

    .hero div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .but3 {
        margin-left: 0;
        width: 100%;
    }

    .first {
        flex-direction: column;
        text-align: center;
    }

    .secImg video {
        position: absolute;
        top: 18%;
        left: 10%;
        width: 80%;
    }
}

/*  EXTRA SMALL */
@media (max-width: 480px) {

    .hero .A {
        font-size: 1.8rem;
    }

    .hero .B,
    .hero .C {
        font-size: 0.95rem;
    }

    .bux {
        height: 180px;
    }
}


footer {
    color: #ffffff;
    max-width: 100vw;
    height: 40vh;
    margin: auto;
    padding: 30px;
    font-size: 16px;
   
   
    align-items: center;
}

footer .questions {
    font-size: 25px;
    padding: 24px 0;
    margin-left: 33vw;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    align-items:center ;
}
.footer-item{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 19px;
     align-items: center;
    margin: 5px;
}
#one{
    color: #ffffff;
    margin: 8px;
}